.messages {
    display: flex;
    justify-content: center;
    color: #555;
}

.messages-container {
    width: 1400px;
    padding: 50px 0px;
    margin: 0px auto;
}
.messages-container-title h1{
    font-weight: 900;
    color: black;
}
.action-button {
    background-color: #1dbf73c8;
    color: white;
    font-weight: 500;
    border: none;
    font-size: 14px;
    padding: 6px;
    cursor: pointer;
    border-radius: 0px;
}

table {
    width: 100%;
}

tr {
    height: 100px;
}

th {
    text-align: left;
}

.messages-container-active {
    background-color: #1dbf730f;
}
.messages-container-notActive {
    background-color: white !important;
}
.messages-container-name{
    font-weight: 600;
    color: black;
}