.myGigs {
    display: flex;
    justify-content: center;
    color: #555;
}

.mygigs-container {
    width: 1400px;
    padding: 50px 0px;
    margin:0px auto;
}

.mygigs-container-title {
    display: flex;
    justify-content: space-between;
}

.mygigs-container-title button {
    background-color: #1dbf73;
    color: white;
    font-weight: 500;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 0px;
}

table {
    width: 100%;
}

tr {
    height: 50px;
}

th {
    text-align: left;
}

sup {
    font-size: 12px;
}

.mygigs-container-image {
    width: 50px;
    height: 25px;
    object-fit: cover;
}

.mygigs-container-delete {
    width: 20px;
    cursor: pointer;
}

tr:nth-child(even) {
    background-color: #1dbf730f;
}